src/main/resources/wsdl/YdelsesIndeks/YdelseIndeksOperationer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified" 

    xmlns="http://www.w3.org/2001/XMLSchema" 
    xmlns:oio="urn:oio:definitions:1.0.0"
    oio:mapping="urn:oio:sagdok:MPD:3.0.0"

    xmlns:sd="urn:oio:sagdok:3.0.0"
    xmlns:gd="urn:oio:sts:generelledefinitioner:6"
    xmlns:go="urn:oio:sts:generelleoperationer:6"

    xmlns:bi="urn:oio:sts:ydelse:bevillingindeks:6"
    xmlns:oei="urn:oio:sts:ydelse:oekonomiskeffektueringindeks:6"

    xmlns:yi="urn:oio:sts:ydelse:ydelseindeks:6"
    targetNamespace="urn:oio:sts:ydelse:ydelseindeks:6"
    >

	<import namespace="urn:oio:sagdok:3.0.0" schemaLocation="../common/SagDokObjekt.xsd"/>
	<import namespace="urn:oio:sts:generelledefinitioner:6" schemaLocation="GenerelleDefinitioner.xsd"/>
	<import namespace="urn:oio:sts:generelleoperationer:6" schemaLocation="GenerelleOperationer.xsd"/>
	<import namespace="urn:oio:sts:ydelse:bevillingindeks:6" schemaLocation="BevillingIndeksOperationer.xsd"/>
    <import namespace="urn:oio:sts:ydelse:oekonomiskeffektueringindeks:6" schemaLocation="OekonomiskEffektueringIndeksOperationer.xsd"/>


	<element name="ImporterYdelseIndeksInput" type="yi:ImporterYdelseIndeksInputType" oio:definition="urn:oio:sagdok:ydelseindeksimporterinput:ASDD:1.0.0"/>
	<element name="ImporterYdelseIndeksOutput" type="sd:MultipleOutputType" oio:definition="urn:oio:sagdok:ydelseindeksimporteroutput:ASDD:1.0.0"/>
	
	<element name="FremsoegYdelseIndeksInput" type="yi:FremsoegYdelseIndeksInputType" oio:definition="urn:oio:sagdok:ydelseindeksfremsoeginput:ASDD:1.0.0"/>
	<element name="FremsoegYdelseIndeksOutput" type="yi:FremsoegYdelseIndeksOutputType" oio:definition="urn:oio:sagdok:ydelseindeksfremsoegoutput:ASDD:1.0.0"/>

	<element name="OpdaterYdelseIndeksInput" type="yi:OpdaterYdelseIndeksInputType" oio:definition="urn:oio:sagdok:ydelseindeksopdaterinput:ASDD:1.0.0"/>
	<element name="OpdaterYdelseIndeksOutput" type="sd:MultipleOutputType" oio:definition="urn:oio:sagdok:ydelseindeksopdateroutput:ASDD:1.0.0"/>

	<complexType name="ImporterYdelseIndeksInputType" oio:definition="urn:oio:sagdok:ydelseindeksimporterinput:ASDD:1.0.0">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="BevillingIndeks" type="bi:ImportInputType" minOccurs="0" maxOccurs="unbounded" oio:content="bevillingimportinput"/>
			<element name="OekonomiskEffektueringIndeks" type="oei:ImportInputType" minOccurs="0" maxOccurs="unbounded" oio:content="oekonomiskeffektueringimportinput"/>
		</choice>
	</complexType>

	<complexType name="OpdaterYdelseIndeksInputType" oio:definition="urn:oio:sagdok:ydelseindeksretinput:ASDD:1.0.0">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="OpdaterBevillingIndeks" type="yi:OpdaterBevillingIndeksInputType" minOccurs="0" maxOccurs="unbounded" oio:content="bevillingindeksopdaterinput"/>
			<element name="OpdaterOekonomiskEffektueringIndeks" type="yi:OpdaterOekonomiskEffektueringIndeksInputType" minOccurs="0" maxOccurs="unbounded" oio:content="oekonomiskeffektueringindeksopdaterinput"/>
		</choice>
	</complexType>

	<complexType name="OpdaterBevillingIndeksInputType" oio:definition="urn:oio:sagdok:bevillingindeksopdaterinput:ADD:2.0.0">
		<complexContent>
			<extension base="bi:RetInputType">
				<sequence>
					<element name="Tidspunkt" type="dateTime" oio:content="tidspunkt"/>
					<element name="UdenNotifikation" type="boolean" minOccurs="0" oio:content="udennotifikation"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OpdaterOekonomiskEffektueringIndeksInputType" oio:definition="urn:oio:sagdok:oekonomiskeffektueringindeksopdaterinput:ADD:2.0.0">
		<complexContent>
			<extension base="oei:RetInputType">
				<sequence>
					<element name="Tidspunkt" type="dateTime" oio:content="tidspunkt"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="FremsoegYdelseIndeksInputType" oio:definition="urn:oio:sagdok:ydelseindeksfremsoeginput:ASDD:1.0.0">
		<sequence>
			<element name="BevillingUuid" type="string" minOccurs="0" maxOccurs="unbounded" oio:content="bevillinguuid"/>
			<element name="OekonomiskEffektueringUuid" type="string" minOccurs="0" maxOccurs="unbounded" oio:content="oekonomiskeffektueringuuid"/>
			<element name="SoegUdtryk" type="yi:SoegUdtrykType" minOccurs="1" maxOccurs="1" oio:content="fremsoegsoeginput"/>
			<element name="Filter" type="yi:FremsoegFilterYdelseIndeksInputType" minOccurs="0" maxOccurs="1" oio:content="fremsoegfilterinput"/>
			<element name="Sortering" type="yi:FremsoegSorteringYdelseIndeksInputType" minOccurs="0" maxOccurs="1" oio:content="fremsoegsorteringinput"/>
		</sequence>
	</complexType>

	<complexType name="FremsoegYdelseIndeksOutputType" oio:definition="urn:oio:sagdok:ydelseindeksfremsoegoutput:ASDD:1.0.0">
		<complexContent>
			<extension base="sd:BasicOutputType">
				<sequence>
					<element name="Antal" type="yi:AntalType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="BevillingFiltreretOejebliksbillede" type="bi:FiltreretOejebliksbilledeType" oio:definition="bevillingfiltreretoejebliksbillede" minOccurs="0" maxOccurs="unbounded"/>
		            <element name="OekonomiskEffektueringFiltreretOejebliksbillede" type="oei:FiltreretOejebliksbilledeType" oio:content="oekonomiskeffektueringfiltreretoejebliksbillede" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
    <simpleType name="AndOrType">
      <restriction base="string">
        <enumeration value="AND"/>
        <enumeration value="OR"/>
      </restriction>
    </simpleType>

	<complexType name="SoegUdtrykType" oio:definition="urn:oio:sagdok:ydelseindeksfremsoegsoeginput:ASDD:1.0.0">
		<sequence>
		  <!-- no operation = AND -->
	      <element name="operation" type="yi:AndOrType" minOccurs="0" maxOccurs="1" oio:content="operation"/>
  		  <choice minOccurs="1" maxOccurs="unbounded">
			  <element name="SoegBevillingIndeks" type="bi:SoegInputType" minOccurs="0" maxOccurs="unbounded" oio:content="dokumentsoeg"/>
 			  <element name="SoegOekonomiskEffektueringIndeks" type="oei:SoegInputType" minOccurs="0" maxOccurs="unbounded" oio:content="sagsoeg"/>
 			  <element name="NOT" type="yi:SoegUdtrykType" minOccurs="0" maxOccurs="unbounded" oio:content="sagsoeg"/>
  		      <element name="SoegUdtryk" type="yi:SoegUdtrykType" minOccurs="0" maxOccurs="unbounded" oio:content="soegudtryk"/>
  		  </choice>	        
		</sequence>
	</complexType>

	<complexType name="AntalType">
		<sequence>
			<element name="Element" oio:content="element">
				<simpleType>
					<restriction base="string">
						<enumeration value="bevillinger"/>
						<enumeration value="ydelser"/>
						<enumeration value="effektueringer"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Antal" type="integer" oio:content="antal"/>
			<element name="Paginering" type="go:PagineringType" minOccurs="0" oio:content="paginering"/>
		</sequence>
	</complexType>

	<simpleType name="BevillingVisFilterType">
      <restriction base="string">
		<enumeration value="egenskaber"/>
		<enumeration value="egenskaberlokaludvidelse"/>
		<enumeration value="bevilgetydelse"/>
		<enumeration value="sag"/>
		<enumeration value="part"/>
		<enumeration value="aktoer-ejer"/>
		<enumeration value="aktoer-ansvarlig"/>
		<enumeration value="sikkerhedsprofil"/>
      </restriction>
    </simpleType>

 	<complexType name="BevillingVisType">
		<sequence>
            <element name="Vis" type="yi:BevillingVisFilterType" oio:content="type"/>
		</sequence>
	</complexType>

 	<complexType name="BevillingSorteringType">
		<sequence>
            <element name="Element" type="yi:BevillingSorteringFilterType" oio:content="element"/>
            <element name="Retning" type="yi:SorteringFilterRetningType" oio:content="retning"/>
            <element name="Sekvens" type="integer" oio:content="sekvens"/>
		</sequence>
	</complexType>

	<simpleType name="BevillingSorteringFilterType">
		<restriction base="string">
			<enumeration value="FuldtNavn"/>
			<enumeration value="Ydelsesnavn"/>
		</restriction>
	</simpleType>

	<simpleType name="BevillingInkluderFilterType">
      <restriction base="string">
		<enumeration value="bevilgetydelse"/>
      </restriction>
    </simpleType>	
	
    <simpleType name="OekonomiskEffektueringVisFilterType">
      <restriction base="string">
		<enumeration value="egenskaber"/>
		<enumeration value="aktoer"/>
		<enumeration value="oekonomiskeydelseeffektueringer"/>
        <enumeration value="itsystem"/>
      </restriction>
    </simpleType>

 	<complexType name="OekonomiskEffektueringVisType">
		<sequence>
            <element name="Vis" type="yi:OekonomiskEffektueringVisFilterType" oio:content="type"/>
		</sequence>
	</complexType>

 	<complexType name="OekonomiskEffektueringSorteringType">
		<sequence>
            <element name="Element" type="yi:OekonomiskEffektueringSorteringFilterType" oio:content="element"/>
            <element name="Retning" type="yi:SorteringFilterRetningType" oio:content="retning"/>
            <element name="Sekvens" type="integer" oio:content="sekvens"/>
		</sequence>
	</complexType>

    <simpleType name="OekonomiskEffektueringSorteringFilterType">
      <restriction base="string">
		<enumeration value="Dispositionsdato"/>
      </restriction>
    </simpleType>

    <simpleType name="OekonomiskEffektueringInkluderFilterType">
      <restriction base="string">
		<enumeration value="oekonomiskeydelseeffektueringer"/>
      </restriction>
    </simpleType>

	<simpleType name="SorteringFilterRetningType">
		<restriction base="string">
			<enumeration value="Stigende"/>
			<enumeration value="Faldende"/>
		</restriction>
	</simpleType>

	<!-- Elements of the output data to be delivered. An empty filter means that no data will be returned -->
	<complexType name="FremsoegFilterYdelseIndeksInputType" oio:definition="urn:oio:sagdok:ydelseindeksfremsoegfilterinput:ASDD:1.0.0">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="BevillingVis" type="yi:BevillingVisType" minOccurs="0" maxOccurs="unbounded" oio:content="bevillingvis"/>
			<element name="OekonomiskEffektueringVis" type="yi:OekonomiskEffektueringVisType" minOccurs="0" maxOccurs="unbounded" oio:content="oekonomiskeffektueringvis"/>
			<element name="BevillingInkluder" type="yi:BevillingInkluderFilterType" minOccurs="0" maxOccurs="unbounded" oio:content="bevillinginkluder"/>
			<element name="OekonomiskEffektueringInkluder" type="yi:OekonomiskEffektueringInkluderFilterType" minOccurs="0" maxOccurs="unbounded" oio:content="oekonomiskeffektueringinkluder"/>
		</choice>
	</complexType>

	<complexType name="FremsoegSorteringYdelseIndeksInputType" oio:definition="urn:oio:sagdok:ydelseindeksfremsoegsorteringinput:ASDD:1.0.0">
		<choice minOccurs="0" maxOccurs="unbounded">
            <element name="BevillingSortering" type="yi:BevillingSorteringType" minOccurs="0" maxOccurs="unbounded" oio:content="bevillingsortering"/>
            <element name="OekonomiskEffektueringSortering" type="yi:OekonomiskEffektueringSorteringType" minOccurs="0" maxOccurs="unbounded" oio:content="oekonomiskeffektueringsortering"/>
		</choice>
	</complexType>

</schema>

