src/main/resources/wsdl/YdelsesIndeks/wsdl/YdelseIndeks.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
  name="YdelseIndeksService" 
  xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:yi="urn:oio:sts:ydelse:ydelseindeks:6"
  xmlns:wsp="http://www.w3.org/ns/ws-policy"
  xmlns:tns="http://stoettesystemerne.dk/ydelsesindeks"
  targetNamespace="http://stoettesystemerne.dk/ydelsesindeks"
  xmlns:header="http://kombit.dk/xml/schemas/RequestHeader/1/">

  <wsdl:import namespace="http://serviceplatformen.dk/xml/wsdl/soap11/Security/Policy"
               location="../xsd/policies/OIOIDWS.wsdl"/>
  
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:import namespace="urn:oio:sts:ydelse:ydelseindeks:6" schemaLocation="../xsd/6.0.STS-0/YdelseIndeksOperationer.xsd"/>
        <xsd:import namespace="urn:oio:sts:ydelse:bevillingindeks:6" schemaLocation="../xsd/6.0.STS-0/BevillingIndeksOperationer.xsd"/>
        <xsd:import namespace="urn:oio:sts:ydelse:bevillingindeks:6" schemaLocation="../xsd/6.0.STS-0/BevillingIndeks.xsd"/>
        <xsd:import namespace="urn:oio:sts:ydelse:bevillingindeks:6" schemaLocation="../xsd/6.0.STS-0/BevillingIndeksBesked.xsd"/>
        <xsd:import namespace="urn:oio:sts:ydelse:oekonomiskeffektueringindeks:6" schemaLocation="../xsd/6.0.STS-0/OekonomiskEffektueringIndeksOperationer.xsd"/>
        <xsd:import namespace="urn:oio:sts:ydelse:oekonomiskeffektueringindeks:6" schemaLocation="../xsd/6.0.STS-0/OekonomiskEffektueringIndeks.xsd"/>
        <xsd:import namespace="urn:oio:sts:ydelse:oekonomiskeffektueringindeks:6" schemaLocation="../xsd/6.0.STS-0/OekonomiskEffektueringIndeksBesked.xsd"/>
        <xsd:import namespace="urn:oio:sts:generelledefinitioner:6" schemaLocation="../xsd/6.0.STS-0/GenerelleDefinitioner.xsd"/>
        <xsd:import namespace="urn:oio:sts:generelleoperationer:6" schemaLocation="../xsd/6.0.STS-0/GenerelleOperationer.xsd"/>
        <xsd:import namespace="urn:oio:sagdok:3.0.0" schemaLocation="../xsd/common/SagDokObjekt.xsd"/>
        <xsd:import namespace="http://kombit.dk/xml/schemas/RequestHeader/1/" schemaLocation="../xsd/common/RequestHeader.xsd" />
      </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ImporterRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="yi:ImporterYdelseIndeksInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ImporterResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="yi:ImporterYdelseIndeksOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FremsoegRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="yi:FremsoegYdelseIndeksInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FremsoegResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="yi:FremsoegYdelseIndeksOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OpdaterRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="yi:OpdaterYdelseIndeksInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OpdaterResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="yi:OpdaterYdelseIndeksOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="YdelseIndeksPortType">
    <wsdl:operation name="importer">
      <wsdl:input message="tns:ImporterRequestMessage">
      </wsdl:input>
      <wsdl:output message="tns:ImporterResponseMessage">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fremsoeg">
      <wsdl:input message="tns:FremsoegRequestMessage">
      </wsdl:input>
      <wsdl:output message="tns:FremsoegResponseMessage">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opdater">
      <wsdl:input message="tns:OpdaterRequestMessage">
      </wsdl:input>
      <wsdl:output message="tns:OpdaterResponseMessage">
      </wsdl:output>
    </wsdl:operation>    
  </wsdl:portType>
  <wsdl:binding name="YdelseIndeks" type="tns:YdelseIndeksPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#ServiceplatformBindingPolicy"/>
    <wsdl:operation name="importer">
      
      <soap12:operation soapAction="http://kombit.dk/sts/ydelseindeks/importer" soapActionRequired="true"/>
      <wsdl:input>
        <soap12:header message="tns:ImporterRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:ImporterResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fremsoeg">
      
      <soap12:operation soapAction="http://kombit.dk/sts/ydelseindeks/fremsoeg" soapActionRequired="true"/>
      <wsdl:input>
        <soap12:header message="tns:FremsoegRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:FremsoegResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opdater">
      
      <soap12:operation soapAction="http://kombit.dk/sts/ydelseindeks/opdater" soapActionRequired="true"/>
      <wsdl:input>
        <soap12:header message="tns:OpdaterRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:OpdaterResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YdelseIndeksService_6">
    <wsdl:port name="YdelseIndeks" binding="tns:YdelseIndeks">
      <soap12:address location="http://kombit.dk/sts/ydelseindeks"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
