src/main/resources/wsdl/SagDokumentIndeks/wsdl/SagDokumentIndeksService_6.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://stoettesystemerne.dk/sagsogdokumentindeks" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sdi="urn:oio:sts:sagdok:sagdokumentindeks:6" xmlns:header="http://kombit.dk/xml/schemas/RequestHeader/1/" xmlns="http://www.w3.org/2001/XMLSchema" name="SagDokumentIndeksService" targetNamespace="http://stoettesystemerne.dk/sagsogdokumentindeks">
  <wsdl:import location="xsd/policies/OIOIDWS.wsdl" namespace="http://serviceplatformen.dk/xml/wsdl/soap11/Security/Policy">
    </wsdl:import>
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://stoettesystemerne.dk/sagsogdokumentindeks" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sdi="urn:oio:sts:sagdok:sagdokumentindeks:6" xmlns:header="http://kombit.dk/xml/schemas/RequestHeader/1/" xmlns="http://www.w3.org/2001/XMLSchema">

  <xsd:import namespace="urn:oio:sts:sagdok:sagdokumentindeks:6" schemaLocation="xsd/6.0.STS-0/SagDokumentIndeksOperationer.xsd"/>

  <xsd:import namespace="urn:oio:sts:sagdok:sag:6" schemaLocation="xsd/6.0.STS-0/SagOperationer.xsd"/>

  <xsd:import namespace="urn:oio:sts:sagdok:sag:6" schemaLocation="xsd/6.0.STS-0/Sag.xsd"/>

  <xsd:import namespace="urn:oio:sts:sagdok:sag:6" schemaLocation="xsd/6.0.STS-0/SagBesked.xsd"/>

  <xsd:import namespace="urn:oio:sts:sagdok:sagindeks:6" schemaLocation="xsd/6.0.STS-0/SagIndeksOperationer.xsd"/>

  <xsd:import namespace="urn:oio:sts:sagdok:sagindeks:6" schemaLocation="xsd/6.0.STS-0/SagIndeks.xsd"/>

  <xsd:import namespace="urn:oio:sts:sagdok:dokumentindeks:6" schemaLocation="xsd/6.0.STS-0/DokumentIndeks.xsd"/>

  <xsd:import namespace="urn:oio:sts:sagdok:dokumentindeks:6" schemaLocation="xsd/6.0.STS-0/DokumentIndeksOperationer.xsd"/>

  <xsd:import namespace="urn:oio:sts:generelledefinitioner:6" schemaLocation="xsd/6.0.STS-0/GenerelleDefinitioner.xsd"/>

  <xsd:import namespace="urn:oio:sts:generelleoperationer:6" schemaLocation="xsd/6.0.STS-0/GenerelleOperationer.xsd"/>

  <xsd:import namespace="urn:oio:sagdok:3.0.0" schemaLocation="xsd/common/SagDokObjekt.xsd"/>

  <xsd:import namespace="http://kombit.dk/xml/schemas/RequestHeader/1/" schemaLocation="xsd/common/RequestHeader.xsd"/>

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="FremsoegRequestMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="sdi:FremsoegSagDokumentIndeksInput" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FremsoegResponseMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="sdi:FremsoegSagDokumentIndeksOutput" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ImporterResponseMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="sdi:ImporterSagDokumentIndeksOutput" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FjernRequestMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="sdi:FjernSagDokumentIndeksInput" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ImporterRequestMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="sdi:ImporterSagDokumentIndeksInput" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OpdaterRequestMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="sdi:OpdaterSagDokumentIndeksInput" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OpdaterResponseMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="sdi:OpdaterSagDokumentIndeksOutput" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FjernResponseMessage">
    <wsdl:part element="header:RequestHeader" name="header">
    </wsdl:part>
    <wsdl:part element="sdi:FjernSagDokumentIndeksOutput" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SagDokumentIndeksPortType">
    <wsdl:operation name="fjern">
      <wsdl:input message="tns:FjernRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:FjernResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <wsdl:input message="tns:ImporterRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ImporterResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opdater">
      <wsdl:input message="tns:OpdaterRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:OpdaterResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fremsoeg">
      <wsdl:input message="tns:FremsoegRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:FremsoegResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sdi" type="tns:SagDokumentIndeksPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#ServiceplatformBindingPolicy"/>
    <wsdl:operation name="fjern">
      <soap12:operation soapAction="http://kombit.dk/sts/sagdokumentindeks/fjern" soapActionRequired="true"/>
      <wsdl:input>
        <soap12:header message="tns:FjernRequestMessage" part="header" use="literal">
        </soap12:header>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:FjernResponseMessage" part="header" use="literal">
        </soap12:header>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <soap12:operation soapAction="http://kombit.dk/sts/sagdokumentindeks/importer" soapActionRequired="true"/>
      <wsdl:input>
        <soap12:header message="tns:ImporterRequestMessage" part="header" use="literal">
        </soap12:header>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:ImporterResponseMessage" part="header" use="literal">
        </soap12:header>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opdater">
      <soap12:operation soapAction="http://kombit.dk/sts/sagdokumentindeks/opdater" soapActionRequired="true"/>
      <wsdl:input>
        <soap12:header message="tns:OpdaterRequestMessage" part="header" use="literal">
        </soap12:header>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:OpdaterResponseMessage" part="header" use="literal">
        </soap12:header>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fremsoeg">
      <soap12:operation soapAction="http://kombit.dk/sts/sagdokumentindeks/fremsoeg" soapActionRequired="true"/>
      <wsdl:input>
        <soap12:header message="tns:FremsoegRequestMessage" part="header" use="literal">
        </soap12:header>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:FremsoegResponseMessage" part="header" use="literal">
        </soap12:header>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SagDokumentIndeksService_6">
    <wsdl:port binding="tns:sdi" name="SagDokumentIndeks">
      <soap12:address location="https://sagsogdokumentindeks.eksterntest-stoettesystemerne.dk/sts-soap-sagdok/sagdokumentindeks/6"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
