src/main/resources/wsdl/YdelsesIndeks/xsd/6.0.STS-0/BevillingIndeks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
  elementFormDefault="qualified" 
  attributeFormDefault="unqualified" 

  xmlns="http://www.w3.org/2001/XMLSchema" 

  xmlns:oio="urn:oio:definitions:1.0.0" 
  oio:mapping="urn:oio:sagdok:MPD:3.0.0"

  xmlns:sd="urn:oio:sagdok:3.0.0"
  xmlns:gd="urn:oio:sts:generelledefinitioner:6"

  xmlns:bi="urn:oio:sts:ydelse:bevillingindeks:6"
  targetNamespace="urn:oio:sts:ydelse:bevillingindeks:6"
  >

	<import namespace="urn:oio:sagdok:3.0.0" schemaLocation="../common/SagDokObjekt.xsd"/>
	<import namespace="urn:oio:sts:generelledefinitioner:6" schemaLocation="GenerelleDefinitioner.xsd"/>

	<complexType name="BevillingIndeksType" oio:definition="urn:oio:sagdok:bevillingindeks:ADD:2.0.0">
		<complexContent>
			<extension base="sd:SagDokObjektType">
				<sequence>
					<element name="Registrering" type="bi:RegistreringType" maxOccurs="unbounded" oio:content="registreringer"/>
					<element name="UdenNotifikation" type="boolean" minOccurs="0" oio:content="udennotifikation"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RegistreringType" oio:definition="urn:oio:sagdok:bevillingindeksregistrering:ADD:2.0.0">
		<complexContent>
			<extension base="gd:RegistreringType">
				<sequence>
					<element name="AttributListe" type="bi:AttributListeType" oio:content="attributter"/>
					<element name="TilstandListe" type="bi:TilstandListeType" oio:content="tilstande"/>
					<element name="RelationListe" type="bi:RelationListeType" oio:content="relationer"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="AttributListeType" oio:definition="urn:oio:sagdok:bevillingindeksattributliste:ADD:2.0.0">
		<sequence>
			<element name="Egenskaber" type="bi:EgenskaberType" minOccurs="0" maxOccurs="unbounded" oio:content="egenskaber"/>
			<element name="BevilgetYdelse" type="bi:BevilgetYdelseType" minOccurs="0" maxOccurs="unbounded" oio:content="bestaaraf"/>
			<element ref="gd:LokalUdvidelseListe" minOccurs="0" oio:content="lokaludvidelseliste"/>
		</sequence>
	</complexType>

	<complexType name="TilstandListeType" oio:definition="urn:oio:sagdok:bevillingindekstilstandliste:ADD:2.0.0">
		<sequence>
			<element ref="gd:LokalUdvidelseListe" minOccurs="0" oio:content="lokaludvidelseliste"/>
		</sequence>
	</complexType>

	<complexType name="RelationListeType" oio:definition="urn:oio:sagdok:bevillingindeksrelationliste:ADD:2.0.0">
		<sequence>
			<element name="Bevillingssag" type="bi:BevillingIndeksSagRelationType" minOccurs="0" maxOccurs="unbounded" oio:content="bevillingssag"/>
			<element name="Bevillingspart" type="bi:BevillingIndeksPartRelationType" minOccurs="0" maxOccurs="unbounded" oio:content="bevillingspart"/>
			<element name="Bevillingsaktoer" type="bi:BevillingIndeksAktoerRelationType" minOccurs="0" maxOccurs="unbounded" oio:content="bevillingsaktoer"/>
			<element name="Sikkerhedsprofil" type="bi:SikkerhedsprofilRelationType" minOccurs="0" maxOccurs="unbounded" oio:content="sikkerhedsprofil"/>
			<element ref="gd:LokalUdvidelseListe" minOccurs="0" oio:content="lokaludvidelseliste"/>
		</sequence>
	</complexType>

	<complexType name="BevillingIndeksSagRelationType" oio:definition="urn:oio:sagdok:bevillingindekssagrelation:ADD:1.0.0">
		<complexContent>
			<extension base="gd:RelationType">
				<sequence>
					<element name="BrugervendtNoegle" type="sd:BrugervendtNoegleTekst" minOccurs="0" oio:content="brugervendtnoegle"/>
					<element name="FuldtNavn" minOccurs="0" oio:content="fuldtnavn">
						<simpleType>
							<restriction base="string">
								<maxLength value="255"/>
							</restriction>
						</simpleType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="BevillingIndeksPartRelationType" oio:definition="urn:oio:sagdok:bevillingindekspartrelation:ADD:1.0.0">
		<complexContent>
			<extension base="gd:RelationType">
				<sequence>
					<element name="BrugervendtNoegle" type="sd:BrugervendtNoegleTekst" minOccurs="0" oio:content="brugervendtnoegle"/>
					<element name="FuldtNavn" minOccurs="0" oio:content="fuldtnavn">
						<simpleType>
							<restriction base="string">
								<maxLength value="255"/>
							</restriction>
						</simpleType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="BevillingIndeksAktoerRelationType" oio:definition="urn:oio:sagdok:bevillingindeksaktoerrelation:ADD:1.0.0">
		<complexContent>
			<extension base="gd:RelationType">
				<sequence>
					<element name="BrugervendtNoegle" type="sd:BrugervendtNoegleTekst" minOccurs="0" oio:content="brugervendtnoegle"/>
					<element name="FuldtNavn" minOccurs="0" oio:content="fuldnavn">
						<simpleType>
							<restriction base="string">
								<maxLength value="255"/>
							</restriction>
						</simpleType>
					</element>
					<element name="CVR-nr" minOccurs="0" oio:content="cvrnr" >
						<simpleType>
							<restriction base="string">
								<pattern value="[0-9]{8}"/>
							</restriction>
						</simpleType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="Sikkerhedsprofil" type="bi:SikkerhedsprofilRelationType" oio:content="sikkerhedsprofil"/>
	<complexType name="SikkerhedsprofilRelationType" oio:definition="urn:oio:sagdok:sikkerhedsprofilrelation:ADD:2.0.0">
		<complexContent>
			<extension base="gd:RelationType"/>
		</complexContent>
	</complexType>

	<complexType name="EgenskaberType" oio:definition="urn:oio:sagdok:bevillingindeksegenskaber:ADD:2.0.0">
		<sequence>
			<element name="Virkning" minOccurs="0" type="sd:VirkningType" oio:content="virkning"/>
			<element name="BrugervendtNoegle" type="sd:BrugervendtNoegleTekst" minOccurs="0" oio:content="brugervendtnoegle"/>
			<element name="Bevillingstartdato" minOccurs="0" type="string" oio:content="startdato"/>
			<element name="Bevillingslutdato" minOccurs="0" type="string" oio:content="slutdato"/>
			<element name="Begrundelse"  minOccurs="0" oio:content="begrundelse">
				<simpleType>
					<restriction base="string">
						<maxLength value="4096"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Foelsomhed"  minOccurs="0" type="bi:FoelsomhedType" oio:content="foelsomhed"/>
		</sequence>
	</complexType>

	<simpleType name="FoelsomhedType">
		<restriction base="string">
			<enumeration value="IKKE_FORTROLIGE_DATA"/>
			<enumeration value="FORTROLIGE_PERSONOPLYSNINGER"/>
			<enumeration value="FOELSOMME_PERSONOPLYSNINGER"/>
			<enumeration value="VIP_SAGER"/>
		</restriction>
	</simpleType>

	<simpleType name="BevillingIndeksStatusKodeType" oio:definition="urn:oio:sagdok:bevillingindeksstatuskode:DT:2.0.0">
		<restriction base="string">
			<enumeration value="Aktiv"/>
			<enumeration value="Inaktiv"/>
			<enumeration value="Passiv"/>
		</restriction>
	</simpleType>

	<complexType name="BevilgetYdelseType" oio:definition="urn:oio:sagdok:bevilgetydelse:ADD:1.0.0">
		<sequence>
			<element name="Virkning" minOccurs="0" type="sd:VirkningType" oio:content="virkning"/>
			<element name="Id" minOccurs="0" oio:content="id">
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="36"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Navn" minOccurs="0" type="string" oio:content="navn"/>
			<element name="BevilgetYdelseStartdato" minOccurs="0" type="dateTime" oio:content="startdato"/>
			<element name="BevilgetYdelseSlutdato" minOccurs="0" type="dateTime" oio:content="slutdato"/>
			<element name="Begrundelse" minOccurs="0" oio:content="begrundelse">
				<simpleType>
					<restriction base="string">
						<maxLength value="4096"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Tilbagebetalingspligtig" minOccurs="0" type="boolean" oio:content="tilbagebetalingspligtig"/>
			<element name="Meddelelse" minOccurs="0" type="string" oio:content="meddelelse"/>
	
			<!-- Special relationer til itsystem og ydelse som ikke har virkning -->
			<element name="ItSystem" type="bi:ItSystemRelationType" minOccurs="0" maxOccurs="2" oio:content="itsystemrelation"/>
			<element name="Ydelse" type="bi:YdelseRelationType" minOccurs="0" oio:content="ydelserelation"/>

			<choice>
				<element name="OekonomiskEffektueringsplan" type="bi:OekonomiskEffektueringsplanType" minOccurs="0" maxOccurs="unbounded" oio:content="oekonomiskeffektueringsplan"/>
			</choice>

		</sequence>
	</complexType>

	<!-- Relation uden virkning -->
	<complexType name="RelationUdenVirkningType" oio:definition="urn:oio:sagdok:bevillingindeksrelation:ADD:1.0.0">
		<sequence>
			<element name="Rolle" minOccurs="0" type="sd:UnikIdType" oio:content="rolle"/>
			<element name="Type" minOccurs="0" type="sd:UnikIdType" oio:content="objekttype"/>
			<element name="Indeks" minOccurs="0" type="string" oio:content="indeks"/>
			<element name="ReferenceID" minOccurs="0" type="sd:UnikIdType" oio:content="referenceid"/>
			<element name="LokalUdvidelseListe" minOccurs="0" type="gd:LokalUdvidelseListeType" oio:content="lokaludvidelseliste"/>
		</sequence>
	</complexType>

	<element name="ItSystemRelation" type="bi:ItSystemRelationType"/>
	<complexType name="ItSystemRelationType" oio:definition="urn:oio:sagdok:itsystemrelation:ADD:2.0.0">
	  <complexContent>
	    <extension base="bi:RelationUdenVirkningType">
			<sequence>
				<element name="SystemNavn" type="string" minOccurs="0" oio:content="systemnavn"/>
				<element name="SystemURI" minOccurs="0" oio:content="systemuri">
					<simpleType>
						<restriction base="string">
							<maxLength value="255"/>
						</restriction>
					</simpleType>
				</element>
			</sequence>
	    </extension>
	  </complexContent>
	</complexType>

	<complexType name="YdelseRelationType" oio:definition="urn:oio:sagdok:ydelserelation:ADD:1.0.0">
		<complexContent>
			<extension base="bi:RelationUdenVirkningType">
				<sequence>
					<element name="Ydelsesnavn" minOccurs="0" oio:content="ydelsesnavn">
						<simpleType>
							<restriction base="string">
								<minLength value="1"/>
								<maxLength value="255"/>
							</restriction>
						</simpleType>
					</element>
					<element name="Klassifikation" type="bi:BevillingsklasseRelationType" minOccurs="0" oio:content="klassifikation"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="BevillingsklasseRelationType" oio:definition="urn:oio:sagdok:bevillingsklasserelation:ADD:1.0.0">
		<complexContent>
			<extension base="bi:RelationUdenVirkningType">
				<sequence>
					<element name="BrugervendtNoegle" type="sd:BrugervendtNoegleTekst" minOccurs="0" oio:content="brugervendtnoegle"/>
					<element name="Klassetitel" minOccurs="0" oio:content="klassetitel">
						<simpleType>
							<restriction base="string">
								<maxLength value="255"/>
							</restriction>
						</simpleType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="OekonomiskEffektueringsplanType" oio:definition="urn:oio:sagdok:OekonomiskEffektueringsplanrelation:ADD:1.0.0">
		<sequence>
			<element name="Id" type="string" minOccurs="0" oio:content="id"/>
			<element name="EffektueringsplanStartdato" minOccurs="0" type="dateTime" oio:content="startdato"/>
			<element name="EffektueringsplanSlutdato" minOccurs="0" type="dateTime" oio:content="slutdato"/>
			<element name="Beregningsfrekvens" minOccurs="0" oio:content="beregningsfrekvens">
				<simpleType>
					<restriction base="string">
						<minLength value="1"/>
						<maxLength value="50"/>
					</restriction>
				</simpleType>
			</element>
			<element name="ForudBagud" minOccurs="0"  oio:content="forudbagud">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="Forud"/>
                        <enumeration value="Bagud"/>
                    </restriction>
                </simpleType>
            </element>
			<element name="Dispositionsdag" minOccurs="0" oio:content="dispositionsdag">
				<simpleType>
					<restriction base="string">
						<maxLength value="50"/>
					</restriction>
				</simpleType>
			</element>
			<element name="Ydelsesbeloeb" minOccurs="0" type="gd:BeloebType" oio:content="ydelsesbeloeb"/>
			<element name="ManueltGodkendes" minOccurs="0" type="boolean" oio:content="manueltgodkendes"/>
		</sequence>
	</complexType>
	
</schema>
